html,body{
  margin:0px;
  padding:0px;
  background-color:#000;
}
#container{
  max-width:1600px;
  margin:0 auto;
  min-height:1000px;
  padding:0px;
}

@media only screen and (min-width: 1600px) {
  #container{
    margin:2% auto;
    box-shadow:#5C5531 0px -10px 80px;
    padding:0 20px;
    border-radius:40px;
  }
}