<!DOCTYPE html>
<html>
  <%= render :partial => 'layouts/head'  %>
<body>

<div id="container">
  <%= render :partial => 'layouts/github' %>
  <div class="container_inner">
    <%= yield %>
  </div>
</div>

</body>
</html>
